.landingPage_div {
  display: flex;
  justify-content: center;
}

.landingPage {
  background-color: $white;
  padding: 40px 50px;
  .marginTop {
    margin-top: 40px;
  }
  .landingPage_title_radioMenu1 {
    color: $orange;
  }
  .landingPage_title_radioMenu2 {
    color: $orange;
  }
  .landingPage_dropDownMenu_title {
    color: $orange;
  }
  .landingPage_slider1_titel {
    color: $orange;
  }
  .landingPage_slider2_titel {
    color: $orange;
  }
  .landingPage_link {
    background-color: $orange;
    color: $white;
    font-size: 12px;
    line-height: 12px;
    text-decoration-line: none;
    transition: 3s ease;
    padding: 7px 15px;
    &:hover {
      background-color: $orange;
      text-decoration: none;
    }
  }
  .landingPage_slider1_subTitle {
    color: $grey;
  }
  .landingPage_slider2_subTitle {
    color: $grey;
  }
  .landingPage_subTitle {
    color: $grey;
  }
  .landingPage_radio1 {
    color: $grey;
  }

  .landingPage_radio2 {
    color: $grey;
  }
  .landingPage_antRadio {
    width: 100%;
    margin-bottom: 10px;
    .ant-radio-button-wrapper {
      width: 100px;
    }
    .ant-radio-button-wrapper-checked {
      background-color: $orange;
    }
    .ant-radio-group {
      width: 100%;
    }
    label {
      width: 150px;
    }
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: $orange;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked {
    border: none;
    border-radius: none;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper {
    &:hover {
      color: $orange;
      text-decoration-line: none;
      &:active {
        color: $white;
      }
    }
  }
}
