.app__configurator {
  height: 100% !important;
  min-height: 100vh;
  background-color: $page-bg-color !important;
  .oc-price {
    display: flex;
    flex-direction: row !important;
    align-content: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
  }
  .step2-top-container {
    margin-top: 50px;
    height: auto;
    .step2-top-icon {
      margin-right: 20px;
    }
    .option-card-wrapper {
      margin: 0 auto;
    }
  }
  .option-card {
    width: 280px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: $border-radius-sm;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px 25px;
    .oc-footer {
      text-align: center;
    }

    .oc-footer {
      text-align: center;
    }

    .oc-content {
      margin: 0px auto;
      .oc-title {
        display: block;
        text-align: center;
        margin-top: 15px;
      }

      .oc-subtitle {
        margin-top: 20px;
      }

      .oc-items {
        align: center;

        .oc-item {
          padding: 6px;
          &-icon:before {
            content: "\E632";
            display: block;
            font-family: "anticon";
            font-size: 34px;
            font-weight: 100;
            width: 34px;
          }
          &-content {
            width: 100%;
            margin-left: 20px;
            font-style: 16px;
            font-weight: 600;
          }
        }
      }

      .oc-price {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        margin: 46px 0px;
      }
    }
  }

  .option-card.active {
    border-radius: $border-radius-sm;
    box-shadow:$box-shadow-md;
    outline: none;
  }

  .option-card.readonly {
    cursor: auto;
  }
}


@media screen and (min-width: $xxl) {
  .step2-container {
    .step2-top-title {
      margin-left: -20px;
    }
    .option-card-wrapper {
      justify-content: center;
    }
  }
}

@media screen and (min-width: $xl) and (max-width: $xxl) {
  .step2-container {
    .option-card-wrapper {
      justify-content: space-between;
    }
  }
}

  @media screen and (min-width: $lg) {
  .app__configurator {
    .sign-up-container {
      .option-card {
        max-width: 280px;
        min-height: auto;
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $lg) {
  .app__configurator {
    .sign-up-container {
      .con-signup-container {
        margin: 50px 20px;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .app__configurator {
    .step2-container {
      .option-card {
        min-width: 275px;
        width: 345px;
        margin-top: 50px;
      }
    }
  }
}
@media screen and (min-width: $sm) and (max-width: $xl) {
  .app__configurator {
    .step2-container {
      .option-card {
        max-width: 90%;
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .app__configurator {
    .step2-top-icon {
      min-width: 20px;
      img {
        max-width: auto;
      }
    }
    .sidebar-sticky {
      position: relative;
      .sidebar-container {
        .sidebar-content {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .app__configurator {
    .step2-container {
      .option-card {
        margin-top: 50px;
      }
    }
  }
}
