.ant-slider-step {
  background: $light-blue;
  border-radius: $border-radius-md;
  height: 16px;
  overflow: hidden;
}

.ant-slider-track {
  background: $primary-color;
  border-radius: $border-radius-md;
  height: 16px;
  z-index: 1;

  &:focus {
    background: $primary-shadow-d;
  }

  &:active {
    background: $primary-shadow-d;
  }

  &:hover {
    background: $primary-shadow-d;
  }
}

.ant-slider:hover {
  .ant-slider-track {
    background: $primary-shadow-d;
  }

  .ant-slider-handle {
    border: solid 5px $primary-shadow-d;
  }
}


.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border: solid 5px $primary-shadow-d;
}

.ant-slider:focus .ant-slider-handle {
  border: solid 5px $primary-shadow-d;
}

.ant-slider-rail {
  background-color: transparent !important;
  border-radius: 0 !important;
  height: 0 !important;
}
.ant-slider-dot {
  z-index: 2;
  top: 3px;
  width: 10px;
  height: 10px;
  border: 2px solid $grey;

  &:first-child {
    display: none;
  }

  &:last-child {
    margin-left: -15px;
  }

  &-active {
    top: 5px;
    width: 5px;
    height: 5px;
    border: none;
  }
}

.ant-slider-handle {
  margin-left: -15px;
  margin-top: -7px;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: solid 5px $primary-color;
  &:focus {
    border-color: $primary-color;
    -webkit-box-shadow: 0 0 0 5px $primary-shadow-l;
    -moz-box-shadow: 0 0 0 5px $primary-shadow-l;
    box-shadow: 0 0 0 5px $primary-shadow-l;
  }
}

.ant-slider-mark-text-active, .ant-slider-mark-text {
  font-family: $uni-font-regular !important;
  font-size: $font-size-body1;
  color: $dark-grey !important;
  margin-top: 10px;
}

.sc-mark-item {
  font-size: $font-size-body2;
  font-family: $uni-font-bold;
  color: $dark-grey;
}
