.app__configurator {

  .sc-field {
    padding: 24px 28px;
    background-color: #fff;
  }

  .sc-row-wrapper {
    background-color: #fff;
    border-radius: $border-radius-sm;
  }

  .sc-content {
    padding: 24px 24px 0px;
    padding-right: 24px;
  }

  .sc-title {
    //height: 32px;
    font-family: Montserrat;
    font-size: $sc-title-size;
    color: $sc-title-color;
    line-height: 1.33;
    font-weight: bold;
    letter-spacing: normal;
    font-stretch: normal;
  }

  .slider-description {
    font-family: $uni-font-bold;
    display: inline-block;
    margin: 9px;
    width: 17px;
    height: 6px;
    border-radius: $border-radius-sm;
    &.d-prime {
      background-color: $primary-color;
    }
    &.l-accent {
      background-color: $accent-light;
    }
  }

  .sc-label {
    height: 48px;
    font-family: Montserrat;

    font-size: $sc-label-size;
    color: $sc-label-color;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  .sc-slider-slider {
    margin-top: 30px;
    height: 75px;
    padding-left: 13px;
    padding-right: 25px;
    background-color: #fff;
    margin: none;
  }

  .sc-mark-item {
    position: absolute;
    left: 32%;
    top: 0;
  }

  .ant-slider-mark-text {
    &:first-child {
      .sc-mark-item {
        left: 38%;
      }
    }
    &:last-child {
      margin-left: -15% !important;
      .sc-mark-item {
      left: 34%;
      }
    }
  }

  .sc-wrapper-button {
    display: flex;
    flex-direction: row;
    margin: 55px 0px;
    width: 100%;
  }
}

@media screen and (max-width: $sm) {
  .sc-wrapper-button {
    justify-content: center;
  }
  .sc-mark-item {
    left: 36%;
  }

  .ant-slider-mark-text {
    &:first-child {
      .sc-mark-item {
        left: 40%;
      }
    }
    &:last-child {
      .sc-mark-item {
        left: 36% !important;
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $lg) {
  .sc-mark-item {
    left: 40% !important;
  }

  .ant-slider-mark-text {
    &:first-child {
      .sc-mark-item {
        left: 44% !important;
      }
    }
    &:last-child {
      .sc-mark-item {
        left: 38% !important;
      }
    }
  }
}
