.selectable_item {
  height: auto !important;
  padding: 3px 9px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: $border-radius-sm !important;

  &:last-child {
    margin-right: 0px;
  }

  &.ant-radio-button-wrapper-checked {
    border: 1px solid $accent-light;
    background: $accent-light;
    box-shadow: none;
    span {
      font-family: $uni-font-bold;
      color: $primary-color;
    }
  }

  span {
    font-size: $font-size-label;
    font-family: $uni-font-regular;
    letter-spacing: 0.5px;
    color: $dark-grey;
  }
}

@media screen and (max-width: $sm) {
  .selectable_item {
    margin-right: 0;
  }
}
