*::selection {
  background-color: $primary-color;
}

body {
  font-family: $uni-font-regular;
}

label {
  font-family: $uni-font-regular;
  font-size: $font-size-label;
  color: $dark-grey;

  &.big {
    font-size: $font-size-h6;
  }
}

.form-field-row .error {
  color: $error-color;
}

.form-field {
  margin-top: 30px;
  max-width: 600px;

  .form-field-text, .form-field-drop_down {
    max-width: 390px;
  }

  .error {
    color: $error-color;
    font-size: $font-size-caption;
    font-family: $uni-font-regular;

    label {
      color: $error-color;
    }

    label.radio-required {
      span.ant-radio-inner {
        border-color: $error-color;
      }
    }
    &.active {
      input {
        border: 2px solid $error-color !important;
      }
    }
    input, .ant-select-selection {
      border: 2px solid $error-color !important;
    }
  }
}

.ant-btn {
  height: auto;
  padding: 13px 25px;
  background-color: $accent-color;
  border-radius: $border-radius-sm;
  letter-spacing: 1px;
  font-family: $uni-font-bold;
  font-size: $font-size-button;
  color: $white;
  text-transform: uppercase;
  transition: background 0.2s;
  max-height: 44px;
  border: $button-accent-border;
  margin: 2px;

  &:hover {
    background-color: $accent-shadow-d;
    color: $white;
    border: 1px solid $accent-shadow-d;
  }
  &:active {
    background-color: $accent-color;
    color: $white;
    -webkit-box-shadow: 0 0 2px 2px $accent-shadow-l;
    -moz-box-shadow: 0 0 2px 2px $accent-shadow-l;
    box-shadow: 0 0 2px 2px $accent-shadow-l;
    border: $button-accent-border;
  }
  &:focus {
    background-color: $accent-color;
    outline: 2px solid rgba($accent-color, 0.25);
    border: $button-accent-border;
    color: $white;
  }

  &.small-padding {
    padding: 13px 28px;
  }
  &.secondary {
    background-color: $white;
    color: $accent-medium;
    border: 1px solid $white;
    &:hover {
      background-color: $button-secondary-hover-color;
      border: 1px solid $primary-shadow-l;
    }
    &:active {
      background-color: $button-secondary-hover-color;
      border: 1px solid $button-secondary-hover-color;
      -webkit-box-shadow: 0 0 2px 2px $primary-shadow-l;
      -moz-box-shadow: 0 0 2px 2px $primary-shadow-l;
      box-shadow: 0 0 2px 2px $primary-shadow-l;
    }
  }
  &.ghost {
    background-color: $white;
    color: $accent-medium;
    border: 1px solid $light-grey;
    &:hover {
      background-color: $button-secondary-hover-color;
      border: 1px solid $primary-shadow-l;
    }
    &:active {
      background-color: $button-secondary-hover-color;
      border: 1px solid $button-secondary-hover-color;
      -webkit-box-shadow: 0 0 2px 2px $primary-shadow-l;
      -moz-box-shadow: 0 0 2px 2px $primary-shadow-l;
      box-shadow: 0 0 2px 2px $primary-shadow-l;
    }
  }
  &.orange-button {
    background-color: $orange;
    min-width: 218px;
  }
  &.image-btn {
    border: none;
    padding: 0px 20px;
    background: transparent;
    color: $accent-medium;
    text-transform: capitalize;

    i {
      color: $accent-medium;
      font-size: 20px;
      padding: 0px 7px;
    }

    span {
      vertical-align: top;
      padding-top: 4px;
    }
  }

  &.medium {
    padding: 7px 21px;
    max-height: 32px;
  }

  &.small {
    padding: 3px 24px;
  }

  &-disabled, &:disabled, &-disabled:hover,
  &.disabled:hover, &-disabled:focus,
  &.disabled:focus, &-disabled:active,
  &.disabled:active, &-disabled.active,
  &.disabled.active, &[disabled]:hover {
    background-color: $light-grey;
    color: $dark-grey;
    border-color: $light-grey;
  }
}

.ant-radio-wrapper:hover .ant-radio .ant-radio-inner {
  border: 3px solid rgba($dark-grey, 0.25);
  background: rgba($dark-grey, 0.25);
}
.ant-radio:hover .ant-radio .ant-radio-inner {
  border: 3px solid rgba($dark-grey, 0.25);
  background: rgba($dark-grey, 0.25);
}
.ant-radio .ant-radio-inner {
  width: 16px;
  height: 16px;
  font-family: $uni-font-regular;
  border:$input-border;
  background: $white-grey;

  &:after {
    display: none;
  }
}

.ant-radio.ant-radio-checked .ant-radio-inner {
  border: 5px solid $accent-color;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $accent-color;
}

.ant-checkbox-inner {
  border: $input-border;
}

.ant-checkbox-checked, .ant-checkbox-indeterminate {
  .ant-checkbox-inner {
    background-color: $accent-color;
    border-color: $accent-color;
    &:after {
      left: 4px;
    }
  }
}

.ant-checkbox-checked:after {
  border-color: $accent-color;
}

.tooltip-field i {
  font-size: 16px;
  color: $accent-medium;
  vertical-align: middle;
  margin-left: 1rem;
  margin-top: 3px;
}

.field-input-text {
  display: flex;
  flex-direction: column;

  .description {
    font-size: 12px;
    color: $grey;
  }
}

.ant-input {
  background: $white;
  border: $input-border;
  color: $primary-color;
  font-family: $uni-font-bold;
  font-size: $font-size-body1;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 12px;
  height: auto;

  &::placeholder {
    color: $accent-medium;
  }
  &.white-bg {
    background: $white !important;
  }

  &.small {
    padding: 5px 8px;
  }

  &.ant-input-disabled {
    font-family: $uni-font-regular;
    color: $light-blue;
  }

  &:hover {
    border: $input-border;
  }

  &:active {
    border: 2px solid $accent-medium;
    font-family: $uni-font-regular;
    outline: 2px solid $primary-shadow-l;
  }

  &:focus {
    font-family: $uni-font-regular;
    border: $input-border;
    outline: 2px solid $primary-shadow-l;
  }
  &:disabled, &-disabled, &:disabled, &-disabled:hover {
    background-color: $light-grey;
    border: 2px solid $light-grey !important;
    color: $font-main-color;
  }
}
.form-field {
  .field-drop-down {
    .ant-select {
      .ant-select-selection {
        background: $white;
        border: $input-border;
        font-family: $uni-font-bold;
        color: $primary-color;
        .ant-select-arrow {
          color: $accent-medium;
          i:before {
            content: '';
            @extend .icon-ic-down:before;
          }
        }
        &:hover {
          border: 2px solid $primary-color;
          .ant-select-arrow {
          color: $primary-color;
          }
        }
      }
    }
  }
}

.ant-select-dropdown-menu {
  font-family: $uni-font-regular;
  color: black;
}
.spin-align {
  text-align: center;
  font-size: 35px;
  position: relative;
  height: 300px;
}

.spin-relative {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
}

.ant-spin-dot i {
  background-color: $dot-spinner-color !important;
}

.flex-row {
  display: flex;
  flex-direction: row;

  &-center {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }

  &-justify-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
  }

  &-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }

  &-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
  }
}

.error-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: red;
  text-align: center;
  line-height: 32px;

  i {
    font-size: 26px;
  }
}

.optional {
  color: $grey;
  margin-left: 5px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
}

.api-error-confirm .ant-modal-confirm-btns {
  float: none;
  margin: 24px auto;
  text-align: center;
}

.white-grey-back-ground-wrapper {
  background-color: $white-grey;
}

.grey-back-ground {
  background-color: $white-grey;
}

a {
  color: $link-color;
  text-decoration: none;
}

.container-white {
  background: $white;
  border-radius: $border-radius-sm;
}

.sidebar-sticky {
  position: sticky;
  top: 0px;
}

.align-center {
  text-align: center;
}

.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-arrow {
      border-top-color: $white;
      box-shadow: $box-shadow-case;
    }
    .ant-tooltip-inner {
      background-color: $white;
      padding: 9px 12px;
      box-shadow: $box-shadow-case;
    }
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.back-arrow {
  margin-right: 10px;
}

.ant-modal.modal-valid {
  width: 40%;
}
.iframe-main-container {
  padding: 20px 20px;
  position: relative;
  height: 100%;
  width:   100%;
  overflow-y: scroll;
  .iframe-content {
    width: 100%;
  }
}

.delete-btn {
  font-size: 16px;
  width: 44px;
  background-color: $white;
  border: 1px solid $white-grey;
  border-radius: 50%;
  color: $primary-color;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:hover {
    cursor: pointer;
    background-color: $white-grey;
  }
}

.count-button {
  border: $regular-border;
  border-radius: $border-radius-sm;
  background-color: $white-shadow;
  cursor: pointer;
}

.count-value {
  font-family: $uni-font-regular;
  margin: 0px 4px;
  border: $input-border;
  background-color: $white;
}

.ant-modal {
  max-width: 921px;
}
