.step3-container {
    padding-top: 73px; 
    .eo-container {
        .eo-title {
            font-family: Montserrat;
            color: $black;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            margin-bottom: 15px;
        }
        .eo-question {
            font-size: 16px;
            line-height: 1.5;
            font-weight: normal;
        }
        .eo-input-container {
            margin-bottom: 30px;
            .eo-input {
                display: flex;
                direction: row;
                width: 320px !important;
                i {
                    font-size: 40px;
                    margin-left: 20px;
                }
                .ant-input {
                    height: 48px;
                    border: solid 1px #888888;
                    outline: none;
                }
            }
        }
        /*.eo-recalc-button {
            .ant-btn {
                border-radius: 24px;
                color: #9b9b9b;
                font-size: 14px;
                font-family: Montserrat;
                height: 48px;
                width: 208px;
                border: solid 1px #979797;

            }
            margin-bottom: 40px;
        }*/
        .eo-bottom-container {
            display: flex;
            direction: row;
            font-family: Montserrat;
            color: $black;                    
            font-weight: bold;
            width: 100%;
            margin-top: 30px;
            .ant-btn {
                margin-top: 10px;
            }
            .eo-bottom-titles {
                margin-right: 140px;
                .eo-bottom-totalquote {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                .eo-bottom-monthly {
                    font-size: 21px;

                }
            }
            /*.eo-bottom-navbutton {
                .ant-btn {
                    background-color: #9b9b9b;
                    height: 48px;
                    width: 208px;
                    border-radius: 48px;
                    color: $white;
                    font-size: 14px;
                    font-weight: normal;
                }
            }*/
        }
        .eo-ef-container {
            display: flex;
            direction: row;
            .ef-container {
                display: flex;
                direction: row;
                width: 250px;
                .ef-checkbox-container {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #000;
                    border-radius: 2px;
                    i {
                        font-size: 30px;
                    }
                    .ef-checkbox-check {
                        width: 100%;
                    }
                }
                
                .ef-content {
                    margin-left: 15px;
                    .ef-content-title {
                        font-size: 16px;
                        font-weight: 300;
                        color: $black;
                        font-family: Montserrat;
                    }
                    .ef-content-subtitle {
                        font-family: Montserrat;
                        font-weight: 300;
                        font-size: 14px;
                        color: #676568;
                        margin-top: 10px;
                    }
                    .ef-content-monthly {
                        font-weight: bold;
                        font-family: Montserrat;
                        font-size: 16px;
                        color: $black;
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                }
                .ef-checkbox {
                    span.ant-checkbox-inner {
                        width: 30px !important;
                        height: 30px !important;
                        border-color: $black;
                        .ant-checkbox-checked.ant-checkbox-inner:after {
                            width: 15px !important;
                            height: 30px !important;
                            color: $black;
                            border: 2px solid $black !important;
                        }
                        .ant-checkbox-inner:after {
                            border-right-color: 2px solid $black !important;
                        }
                    }
                
                }
            }
        }

    }
}
