.field-drop-down .ant-select .ant-select-selection {
  background: $white-grey;
  border: 1px solid $white-grey;
  color: $dark-grey;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 12px;
  height: auto;
}

.field-drop-down .ant-select .ant-select-selection .ant-select-selection__rendered {
  margin: 0;
  line-height: inherit;
}

.ant-select-dropdown-menu-item-selected {
  background: $primary-color;
  color: $white !important;
}

.ant-select-dropdown-menu-item {
  color: $dark-grey;
}
.ant-select-dropdown-menu-item:hover {
  background: rgba($primary-color, 0.1);
}
