.field-img-upload {

  .img-upload-item-box-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    .img-upload-item-box {
      width: 122px;
      height: 122px;
      margin-left: 10px;
      margin-top: 10px;
      position: relative;
      border-radius: 4px;
      border: dashed 1px rgba(60, 60, 59, 0.2);
      background-color: #f8f8fa;

      &-mask {
        position: absolute;
        z-index: 200;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;

        &-actions {
          margin-top: 30px;
          i {
            cursor: pointer;
            margin: 5px
          }
        }

        &-name {
          margin-top: 30px;
          font-size: 10px;
        }

      }

      &-delete {
        position: absolute;
        top: 0px;
        right: 5px;
        z-index: 100;
        cursor: pointer;
        color: #6e9fbc;

        i {
          font-size: 20px;
        }
      }

      &-progress {
        margin-top: 66px;
        text-align: center;
        padding: 0px 20px;

        &-all, &-part {
          height: 2px;
          border-radius: 32px;
        }

        &-all {
          width: 100%;
          background-color: #cae9fb;
        }

        &-part {
          background-color: #005776;
        }

        &-text {
          margin-top: 20px;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          color: #4d4d4d;
        }

      }

    }

    .img-upload-item-box:nth-of-type(1) {
      margin-left: 0px;
    }

    .img-upload-add {
      cursor: pointer;
      text-align: center;

      &-plus {
        color: #6e9fbc;
        margin-top: 30px;
        font-weight: bold;

        i {
          font-size: 44px;
        }

      }

      &-text {
        margin-top: 16px;
        font-size: 16px;
        font-weight: bold;
        color: #4d4d4d;
      }

    }

  }

}

