.ant-modal-body {
  height: auto !important;
  min-height: 120px;
}

.ant-modal-close-x {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-validate-content {
  padding: 50px;
  text-align: center;

  .modal-success-message {

    &.error {
      i.modal-validation {
        color: $error-color;
      }
      .modal-item .value {
        background: $white-grey;
        border-radius: $border-radius-sm;
        font-size: $font-size-body1;
        padding: 5px 10px;
      }
    }

    i.modal-validation {
      color: $success-color;
      font-size: $font-size-h5;
      margin-bottom: 20px;
    }
    .modal-item {
      margin-bottom: 20px;
      text-align: left;
      color: $primary-color;

      .label {
        font-family: $uni-font-regular;
        font-size: $font-size-caption;
        margin-bottom: 10px;
      }
      .value {
        font-family: $uni-font-bold;
        font-size: $font-size-body2;
        padding: 1px 0px;
      }
    }
  }
}
