.order-item-container {
  border-bottom: 1px solid #ededef;
  .order-item {
    background-color: $white;
    padding: 12px 0 12px 16px;
    min-height: 80px;
    max-height: 80px;
    display: flex;
    align-items: center;
  }
  .order-item-icon {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: $white-grey;
  }
}

@media screen and(max-width: $xl) {
  .order-item-container {
    border-bottom: none;
    border-top: 1px solid #ededef;
    .order-item {
      padding: 12px 0;
    }
    .order-item.order-item-descriptions {
      display: block;
      max-height: 100%;
      min-height: 0px;
    }
  }
}

@media screen and(max-width: $xs) {
  .order-item-container {
    border-bottom: none;
    border-top: 1px solid #ededef;
    .order-item {
      padding: 12px 0 0 0;
      text-align: center;
      justify-content: center;
    }
  }
}
