.shop-products-container {
  background-color: $white;
  border-radius: $border-radius-sm;
  padding: 24px 0;
  box-shadow: $box-shadow-md;
}

.order-title {
  margin-top: 38px;
  //margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and(max-width: $xl) {
  .shop-products-container {
    .products-quantity-container {
      margin-bottom: 15px;
    }
  }
}
