.shop-shipping-container {
  .shop-shipping-title {
    margin-top: 29px;
    margin-left: 3px;

  }
  .shop-shipping-item {
    padding: 17px 19px;
    border-radius: $border-radius-sm;
    background-color: $white-grey;
    margin-top: 22px;
    //margin-bottom: 44px;
  }

}
