.accessories-container {
  margin-top: 32px;
  .accessories-buttons-container {
    display: flex;
    flex-direction: row;
  }
  .accessories-descriptions-container {
    display: flex;
    flex-direction: row;
  }
  .tablet-column {
    display: flex;
    margin: 0 24px;
    .accessory-description {
      flex-grow: 8;
    }
  }
    .accessories-items-container {

    .accessories-item-container {
      background-color: $white;
      box-shadow: $box-shadow-sm;
      border-radius: $border-radius-sm;
      margin-bottom: 8px;
      min-height: 80px;
      border: $thin-border;

      .accessories-item-icon {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: $white-grey;
      }
    }
  }
  .accessories-load-more {
    width: 100%;
    text-align: center;
    & span {
      margin: 30px 45px;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: $xl) {
  .accessories-item-icon {
    margin-left: 20px;
  }
  .accessories-descriptions-container {
    display: flex;
    flex-direction: row;
    .accessories-item-name {
      width: 50%;
    }
    .accessories-item-description {
      width: 50%;
    }
  }
}

@media screen and (min-width: $sm) {
  .accessories-item-container {
    .tablet-align-center {
      min-height: 80px;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and(min-width: $sm) and (max-width: $xl) {
  .accessories-container {
    .accessories-items-container {
      .tablet-column {
        display: flex;
        flex-direction: column;
      }
      .accessories-item-container {
        .acc-counter-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
    .accessories-descriptions-container {
      display: flex;
      flex-direction: column;
    }
    .accessories-buttons-container {
      justify-content: space-between;
      width: 100%;
      .view-details-container {
        margin-left: 15%;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .accessories-container {
    .accessories-items-container {
      .tablet-column {
        display: flex;
        flex-direction: column;
      }
    }
    .mobile-align-center {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      .accessories-item-icon {
        margin-top: 20px;
      }
    }
    .accessories-descriptions-container {
      margin-top: 7px;
      text-align: center;
      flex-direction: column;
      .accessories-item-name {
        margin-bottom: 17px;
      }
    }
    .accessories-price-container {
      margin-top: 26px;
      text-align: center;
      margin-bottom: 23px;
    }
    .accessories-buttons-container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 17px auto 20px;
      .secondary {
        margin-top: 8px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .accessories-container .tablet-column {
    margin: 0 12px;
  }
}
