.basket-container {
  background-color: $white;
  min-height: 80px;
  border-radius: $border-radius-sm;
  box-shadow: 0 0 14px 0 rgba(77, 77, 77, 0.3);
  margin: 13px 0;
  .basket-icon-container {
    margin-left: 28px;
  }

  .align-items-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
    justify-content: flex-end;
  }

  .total-item-align-title {
    width: 60%;
    text-align: right;
  }

  .total-item-align {
    width: 40%;
    text-align: right;
  }

  .basket-buttons-container {
    float: right;
    margin: 0 24px;
  }

  .products-quantity-container {
    flex-grow: 18;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .total-baskets-container {
    flex-grow: 4;
  }

  .basket-counter {
    margin-left: 25px;
  }
}

.products-quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .basket-counter {
    margin-left: 25px;
  }
}


@media screen and (max-width: $lg) {
  .accessories-container .tablet-column {
    margin: 0 12px;
  }
}

@media screen and (max-width: $sm) {
  .basket-container {
    .products-quantity-container {
      display: none;
    }
    .basket-buttons-container {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}
