.terminal-container {
  border: $thin-border;
  background-color: $white;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-sm;
  text-align: left;
  padding: 35px 0 35px 0;
  .cancellationInfo-item {
    margin-top: 7px;
    color: $accent-color;
  }
  .terminal-photo-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 110px;
      z-index: 10;
    }
    .card-image-circle {
      position: absolute;
      background: $white-grey;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  .terminal-items-container {
    .terminal-title {
      margin-bottom: 7px;
    }
    .terminal-cards {
      margin-bottom: 20px;
      img {
        padding: 6px;
      }
    }
  }
}


@media screen and (max-width: $sm) {
  .terminal-container {

    .terminal-photo-container {
      margin-top: 25px;
      text-align: center;
    }
    .terminal-items-container {
      text-align: center;
      .flex-row.terminal-cards {
        justify-content: center;
      }
    }
    .terminal-price-container {
      margin-top: 25px;
      text-align: center;
      .cancellationInfo-item {
        margin-top: 7px;
        color: $accent-color;
      }
    }
    .terminal-counter {
      margin-top: 15px;
      text-align: center;
      .flex-row {
        justify-content: center;
      }
    }
    .terminal-buttons-container {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .secondary {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .terminal-container {
    .terminal-content-wrapper {
      margin-top: 90px;
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $xl) {
  .terminal-container {
    .terminal-photo-container {
      text-align: center;
    }
    .price-counter {
      margin-top: 30px;
    }
    .terminal-items-container {
      //margin-top: 50px;
    }
    .terminal-counter {
      margin-bottom: 24px;
    }
    .terminal-price-container {
      margin-bottom: 24px;
    }
  }
}
