.view-product-container {
  background-color: $white;
  min-height: 600px;
  padding-top: 90px;
  padding-bottom: 53px;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-sm;
  border: $thin-border;
  margin-bottom: 10px;
  .view-image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 278px;
      z-index: 10;
    }
    .card-image-circle {
      position: absolute;
      background: $white-grey;
      width: 400px;
      height: 400px;
      border-radius: 50%;
    }
  }
  .view-options {
    .view-options-name {
      margin-bottom: 32px;
    }
    .view-options-description {
      margin-bottom: 14px;
    }
    .view-acc-title {
      margin-top: 26px;
    }
    .view-acc-container {
      .item-container {
        background-color: $white-grey;
        padding: 12px 16px;
        border-radius: $border-radius-sm;
        max-width: 268px;
        margin-top: 8px;
      }
    }
    .view-quantity {
      margin-top: 20px;
    }
    .view-counter-container {
      margin-top: 10px;
      margin-bottom: 32px;
    }
    .view-price-container {
      margin-bottom: 32px;
    }
  }
}

.view-details-header {
  margin-top: 35px;
}
.terminal-options-container {
  .view-price-container {
    .price-per-m {
      margin-bottom: 8px;
    }
    .price-formatted {
      margin-bottom: 12px;
    }
  }
}

.accessory-options-container {
  .view-price-container {
    margin-top: 50px;
    .price-per-m {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: $xl) {
  .view-product-container {
    .view-image {
      //width: 144px;
      text-align: center;
      img {
        width: 144px;
      }
      .card-image-circle {
        height: 200px;
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .view-product-container {
    padding: 60px 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
      .view-options-name {
        margin-top: 20px
      }
      .view-counter-container {
        display: flex;
        justify-content: center;
      }
    }
}
