.fixed-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  background: $white;
  width: 100%;
  z-index: 20;
}

.tac {
  @extend .secondary;
  display: block;
}

%footer-container-shared {
  background-color: $white;
  display: flex;
  flex-direction: row;
  padding: 20px 25px;
  -webkit-box-shadow: $box-shadow-case;
  -moz-box-shadow: $box-shadow-case;
  box-shadow: $box-shadow-case;
}

.footer-container-eq {
  @extend %footer-container-shared;
  justify-content: space-between;
}

.footer-container-application {
  @extend %footer-container-shared;
  justify-content: space-around;
}

.footer-container-review {
  @extend %footer-container-shared;
  justify-content: flex-end;
  padding-right: 150px;

  .tac {
    display: none;
  }

  .review-buttons-container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: $lg) {
  .fixed-footer .footer-container-eq {
    padding-left: 30%;
    padding-right: 5%;
  }
}

@media screen and (max-width: $xl) {
  .footer-container-review {
    padding: 18px 28px 18px 0;

    .tac {
      display: none;
    }
  }
}

@media screen  and (max-width: $lg) {
  .footer-container-review {
    .tac {
      display: block;
    }
  }
}
