.order-container {
  margin-bottom: 23px;
  .total-prices-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
    .total-first-month {
      margin-bottom: 20px;
    }
  }
  .order-title {
    line-height: 24px;
    border-bottom: 2px solid $sidebar-border-grey;
    padding-bottom: 11px;
  }
  .order-item-wrapper {
    border-bottom: 2px solid $sidebar-border-grey;
    .internal-extras {
      margin-left: 20px;
    }
    .order-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 32px;
      padding: 11px 0;
      color: $dark-grey;

      &-title {
        font-family: $uni-font-regular;
        text-align: left;
        max-width: 60%;
      }
      &-price {
        max-width: 100%;
      }
    }
  }
}

.status-wrapper {
  display: flex;
  justify-content: center;
  .status-container {
    box-shadow: $box-shadow-sm;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    background: $white;
    height: auto;
    margin-top: 15vh;
    padding: 120px 100px;
    width: 70%;
    .order-status-message {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-left {
        width: 45%;
        .status-message-title {
          margin-bottom: 30px;
        }
        .status-message-body {
          margin-bottom: 30px;
        }
      }
      &-right {
        display: flex;
        justify-content: center;
        width: 45%;
        .status-image {
          width: 250px;
          height:250px;
        }
      }
    }
  }
}

@media screen and (max-width: $xl) {
  .status-wrapper {
    display: flex;
    justify-content: center;
    .status-container {
      padding: 50px;
      .order-status-message {
        flex-direction: column-reverse !important;
        &-left {
          margin-top: 30px;
          text-align: center;
          width: 100%;
        }
        &-right {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .status-wrapper {
    .status-container {
      margin: 20px;
      width: 100%;
      .order-status-message {
        &-left {
          .status-message-title {
            font-size: 24px !important;
          }
        }
        &-right {
          .status-image {
            width: 170px;
            height: 170px;
          }
        }
      }
    }
  }
}
